# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env


.gitignore

# Terraform state files
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/*.tfstate.*.backup

# .terraform directory
.terraform/

# .terraform.lock.hcl file
.terraform.lock.hcl

# .tfplan files
*.tfplan

#.idea
.idea

#requirements
requirements.txt

# Crash log files
crash.log

# Exclude variables file
infrastructure/*.auto.tfvars
*.auto.tfvars.json
infrastructure/*.auto.tfvars.tf

# Exclude override variables file
override.tfvars
override.tfvars.json
override.tfvars.tf

# Exclude CLI configuration files
terraform.rc
terraform.rc.json

# Ignore .tfvars files that are meant to be customized
*.example